body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  color: #3a494c;

  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checked"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.main-header {
  margin-bottom: 5em;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  width: 50%;

  text-align: left;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-size: 1.2em;
  font-weight: 700;
  color: #3a494c;
}

.site-navigation a::before {
  content: "[";

  display: inline-block;

  opacity: 0;

  transition: transform 0.3s;
}

.site-navigation a::after {
  content: "]";

  display: inline-block;

  opacity: 0;

  transition: transform 0.3s;
}

.site-navigation a:hover::before,
.site-navigation a:focus::before {
  opacity: 1;

  transform: translateX(-0.7em);
}

.site-navigation a:hover::after,
.site-navigation a:focus::after {
  opacity: 1;

  transform: translateX(0.7em);
}

.first-wrapper {
  display: flex;
  margin-bottom: 5em;
}

.greeting {
  box-sizing: border-box;

  width: 50%;
  margin-right: 2em;

  text-align: center;
}

.greeting h3 {
  margin: 0;
  margin-top: 2em;

  font-size: 3em;
  font-weight: 300;
  color: #575757;
}

.greeting p {
  margin: 0;
  padding-top: 0.5em;

  font-size: 1.1em;
  line-height: 1.8em;
  color: #8e8e8e;
}

.my-foto {
  box-sizing: border-box;

  width: 50%;

  text-align: center;
}

.me {
  border-radius: 50%;
}

.portfolio {
  padding-top: 3em;
  margin-bottom: 5em;

  border-top: 1px solid #E0E0E0;
}

.portfolio h2 {
  margin: 0;
  margin-bottom: 1em;

  font-size: 2.5em;
  font-weight: 300;
  color: #a2a3a3;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.portfolio-list li {
  width: 32%;
  height:300px;
  margin-right: 2%;
  margin-bottom: 1.5em;
}

.portfolio-list li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item {
  background-image: url("../img/gllacy.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  overflow: hidden;
}

.details {
  box-sizing: border-box;

  display: block;
  width: 100%;
  height: 300px;
  padding-top: 2em;

  text-align: center;

  background-color: rgba(39, 159, 124, 0.9);

  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.details h3 {
  margin: 0;

  font-size: 2em;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.details p {
  margin: 0 1em;
  padding-top: 2em;
  padding-bottom: 3em;

  font-size: 1.1em;
  color: #ffffff;
}

.details a {
  padding: 0.9em 1.8em;

  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #000000;
  border-radius: 0.3em;
}

.details a:hover {
  color: #000000;

  background-color: #ffffff;
}

.portfolio-list-item:hover .details {
  display: block;

  transform: translateX(0);
}

/*.portfolio-list-item a::before {
  content: "";

  position: absolute;

  display: block;
  width: 100%;
  height: 300px;

  opacity: 0;

  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}*/

/*.portfolio-list-item a:hover::before {
  z-index: 1;

  opacity: 1;
  background-color: rgba(39, 159, 124, 0.6);

  transform: translateX(0);
}*/

.reviews {
  padding-top: 3em;
  margin-bottom: 5em;

  border-top: 1px solid #E0E0E0;
}

.reviews h2 {
  margin: 0;
  margin-bottom: 1em;

  font-size: 2.5em;
  font-weight: 300;
  color: #a2a3a3;
}

.reviews-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.reviews-list li {
  width: 32%;
  height:500px;
  margin-right: 2%;

  background-color: grey;
}

.reviews-list li:nth-child(3n) {
  margin-right: 0;
}

.reviews-list article {
  text-align: center;
}

.reviews-list img {
  border-radius: 50%;
}

.reviews-list h1 {
  margin: 0.5em 0;

  font-size: 1.7em;
  font-weight: 400;
  color: #323232;

  text-transform: uppercase;
}

.reviews-list h2 {
  margin: 0;

  font-size: 1.3em;
  font-weight: 700;
  color: #323232;
}

.reviews-list p {
  margin: 0.5em 0;
  font-size: 1.1em;
  color: #8e8e8e;
}

.main-footer {
  padding-top: 3em;

  color: #ffffff;

  background-color: #279f7c;
}

.footer-top {
  display: flex;
  margin-bottom: 2em;
}

.footer-top h2,
.footer-top h3 {
  margin: 0;
  margin-bottom:  1.2em;

  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
}

.about {
  box-sizing: border-box;
  position: relative;

  width: 50%;
  margin-right: 2em;
}

.about p {
  margin: 0;
  margin-bottom: 0.8em;

  font-size: 1.1em;
  color: #86e5c9;
}

.form {
  box-sizing: border-box;

  width: 50%;
}

.main-form input,
.main-form textarea {
  box-sizing: border-box;

  padding: 0.8em;
  margin-bottom: 0.8em;
  width: 100%;
  border: none;
  border-radius: 0.4em;

  font-size: 1em;
  line-height: 1.2em;
  color: #a3a3a3;
}

.main-form input:hover,
.main-form input:focus,
.main-form textarea:hover,
.main-form textarea:focus {
  box-shadow: inset 0 0 0 0.1em #1f6551;
  outline: none;
}

.main-form p {
  margin: 0;
}

.main-form .button {
  float: right;

  display: block;
  padding: 0.4em 1em;
  border: none;
  border-radius: 0.4em;

  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #1f6551;
}

.main-form .button:hover,
.main-form .button:focus {
  color: #1f6551;

  background-color: #86e5c9;
  outline: none;
}

:focus::-webkit-input-placeholder {  color: transparent;}

:focus::-moz-placeholder          {  color: transparent;}

:focus:-moz-placeholder           {  color: transparent;}

:focus:-ms-input-placeholder      {  color: transparent;}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  border-top: 1px solid #ffffff;
}

.footer-social-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  margin-right: 1em;
}

.social-button svg:hover,
.social-button svg:focus {
  fill: #ffffff;
}

.social-button svg:active {
  fill: #86e5c9;
}

.footer-copyright p {
  margin: 0;

  font-size: 1.1em;
  color: #ffffff;
}

/*@media (max-width: 800px){
  .first-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 800px){
  .greeting {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 800px){
  .my-foto {
    width: 100%;
  }
}

@media (max-width: 800px){
  .main-navigation {
    flex-direction: column;
  }
}

@media (max-width: 800px){
  .portfolio-list li {
    width: 49%;
  }
}

@media (max-width: 800px) {
  .portfolio-list li:nth-child(2n) {
    margin-right: 0;
  }
}*/
