<main>

  <canvas id="canvas"></canvas>

  <div id="fullpage">

    <div class="greeting  section  container" id="logo">
      <h2 class="visually-hidden">Как меня зовут?</h2>

      <h3>Привет, меня зовут Константин<br> и я верстаю сайты</h3>

      <p>html - css - js</p>

      <a href="#page2">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 612 612"><path d="M179.679 334.42l.077.057c-4.705 5.125-7.631 11.857-7.631 19.335 0 15.835 12.852 28.688 28.688 28.688 8.377 0 15.835-3.634 21.076-9.352l.077.057L306 281.52l84.055 91.686.076-.057c5.221 5.718 12.68 9.352 21.057 9.352 15.836 0 28.688-12.852 28.688-28.688 0-7.478-2.926-14.21-7.611-19.335l.076-.057-105.188-114.75c-5.451-5.91-13.101-9.295-21.152-9.295s-15.702 3.385-21.152 9.295L179.679 334.42zM0 306c0 168.988 137.012 306 306 306s306-137.012 306-306S474.988 0 306 0 0 137.012 0 306zm554.625 0c0 137.088-111.537 248.625-248.625 248.625S57.375 443.088 57.375 306 168.912 57.375 306 57.375 554.625 168.912 554.625 306z" data-original="#000000" class="active-path" data-old_color="#86e5c9" fill="#86e5c9"/></svg>
      </a>
    </div>

    <div class="portfolio  section" id="portfolio">
      <div class="container">
        <h2 class="">Портфолио</h2>
      </div>

      <div class="slide">
        <div class="container">
          <img src="img/apollo.jpg" width="300" height="300" alt="#">
          <div class="wrapper">
            <h3>apollo</h3>
            <p>html, css, js, vue.js</p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="container">
          <img src="img/bikees.jpg" width="300" height="300" alt="#">
          <div class="wrapper">
            <h3>bikees</h3>
            <p>html, css, js, vue.js</p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="container">
          <img src="img/gllacy.jpg" width="300" height="300" alt="#">
          <div class="wrapper">
            <h3>gllacy</h3>
            <p>html, css, js, vue.js</p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="container">
          <img src="img/apollo.jpg" width="300" height="300" alt="#">
          <div class="wrapper">
            <h3>apollo</h3>
            <p>html, css, js, vue.js</p>
          </div>
        </div>
      </div>

    </div>

    <div class="contacts  section  fp-auto-height  fp-noscroll" id="contacts">

      <div class="container">
        <h2>Контакты</h2>

        <section class="about">
          <h3>Еще несколько слов</h3>

          <p>Пишу чистый и валидный код. Сверстанные мною сайты выглядят одинаково во всех современных браузерах. Нюансы верстки под версии IE обсуждаются отдельно.</p>

          <p>Для связи со мной Вы можете использовать социальные сети и мессенджеры, либо воспользоваться формой обратной связи.</p>
        </section>

        <section class="form">
          <h2 class="visually-hidden">Форма для связи со мной</h2>

          <h3>Я обязательно Вам отвечу!</h3>
          <form class="main-form" id="main-form" action="https://formspree.io/zukaaman@gmail.com" method="post">
            <p>
              <label for="name"><span class="visually-hidden">Ваше имя?</span></label>
              <input id="name" type="text" name="name" placeholder="Ваше имя?" required="">
            </p>
            <p>
              <label for="email"><span class="visually-hidden">Ваша почта?</span></label>
              <input id="email" type="email" name="email" placeholder="Ваша почта?" required="">
            </p>
            <p>
              <label for="text"><span class="visually-hidden">Ваша проблема</span></label>
              <textarea id="text" name="text" rows="4" placeholder="Опишите, пожалуйста, Вашу проблему..." required=""></textarea>
            </p>
            <button class="button" type="submit" value="send">Отправить</button>
          </form>
        </section>
      </div>
    </div>

  </div>

</main>
