<main class="container">

  <div class="first-wrapper">

    <section class="greeting">
      <h2 class="visually-hidden">Обо мне</h2>

      <h3>Привет, меня зовут Константин и я верстаю сайты</h3>

      <p>html - css - js</p>
    </section>

    <section class="my-foto">
      <h2 class="visually-hidden">Мое фото</h2>
        <img class="me" src="img/foto.jpg" alt="Это я">
    </section>

  </div>

  <section class="portfolio" id="portfolio">
    <h2>Последние работы</h2>

    <!-- filter -->

    <ul class="portfolio-list">
      <li class="portfolio-list-item">
        <div class="details">
          <h3>gllacy</h3>
          <p>Проект сайта интернет-магазина мороженого. Фиксированная верстка, HTML5, CSS3, JS.</p>
          <a href="http://zukaadev.ru/gllacy/">Посмотреть</a>
        </div>
      </li>
      <li class="portfolio-list-item apollo">
        <div class="details">
          <h3>apollo</h3>
          <p>Проект портфолио-странички для фотографа. Адаптивная верстка, HTML5, CSS3, JS.</p>
          <a href="http://zukaadev.ru/apollo/">Посмотреть</a>
        </div>
      </li>
      <li class="portfolio-list-item bikees">
        <div class="details">
          <h3>bikees</h3>
          <p>Главная страница веломагазина. адаптивная верстка, HTML5, CSS3.</p>
          <a href="http://zukaadev.ru/bikees/">Посмотреть</a>
        </div>
      </li>
      <li class="portfolio-list-item">
        <div class="details">
          <h3>gllacy</h3>
          <p>Проект сайта интернет-магазина мороженого. Фиксированная верстка, HTML5, CSS3, JS.</p>
          <a href="http://zukaadev.ru/gllacy/">Посмотреть</a>
        </div>
      </li>
      <li class="portfolio-list-item">
        <div class="details">
          <h3>gllacy</h3>
          <p>Проект сайта интернет-магазина мороженого. Фиксированная верстка, HTML5, CSS3, JS.</p>
          <a href="http://zukaadev.ru/gllacy/">Посмотреть</a>
        </div>
      </li>
      <li class="portfolio-list-item">
        <div class="details">
          <h3>gllacy</h3>
          <p>Проект сайта интернет-магазина мороженого. Фиксированная верстка, HTML5, CSS3, JS.</p>
          <a href="http://zukaadev.ru/gllacy/">Посмотреть</a>
        </div>
      </li>
    </ul>
  </section>

  <section class="reviews" id="reviews">
    <h2>Отзывы</h2>
    <ul class="reviews-list">
      <li>
        <article>
          <div class="whois">
            <img src="img/foto.jpg" width="150" height="150" alt="фото заказа">
            <h1>имя заказчика</h1>
            <h2>Кто такой</h2>
          </div>
          <div class="review">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
          </div>
        </article>
      </li>
      <li>
        <article>
          <div class="whois">
            <img src="img/foto.jpg" width="150" height="150" alt="фото заказа">
            <h1>имя заказчика</h1>
            <h2>Кто такой</h2>
          </div>
          <div class="review">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
          </div>
        </article>
      </li>
      <li>
        <article>
          <div class="whois">
            <img src="img/foto.jpg" width="150" height="150" alt="фото заказа">
            <h1>имя заказчика</h1>
            <h2>Кто такой</h2>
          </div>
          <div class="review">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
          </div>
        </article>
      </li>
    </ul>

  </section>

</main>
