.contacts {
  height: 50vh;
  padding-top: 3vh;

  background-color: white;

  box-shadow: inset 0 10px 10px 0 rgba(50, 50, 50, 0.75);

  h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 3vh;
    flex-basis: 100%;

    font-size: 2.5em;
    font-weight: 300;
  }

  p {
    color: grey;
  }

  section {
    flex-basis: 50%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 65px;

    border-bottom: 1px solid black;
  }
}
