.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  color: $color1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
  }
}

.footer__social-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-list-item {
  margin-right: 10%;
}

.social__button {

  svg,
  path {
    fill: $color1;
  }

  &:hover {
    svg,
    path {
      fill: $color2;

      outline: none;
    }
  }

  &:active {

    svg,
    path {
      fill: $color1;
    }
  }
}

.footer__copyright {

  p {
    margin: 0;

    font-size: 1.1em;
    color: $color1;
  }
}
