.main-footer {
  // padding-top: 3em;
  margin-top: -60px;

  color: #ffffff;

  // background-color: #279f7c;
}

.footer-top {
  display: flex;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
}

.footer-top h2,
.footer-top h3 {
  margin: 0;
  margin-bottom:  1em;

  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-top: 2.5em;
  // padding-bottom: 2.5em;

  // border-top: 1px solid #ffffff;
}

@media (max-width: 425px) {
  .footer-bottom {
    flex-direction: column;

    padding: 1.5em 0;
  }
}

.footer-social-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (max-width: 425px) {
  .footer-social-list {
    justify-content: space-around;
    margin-bottom: 0.5em;
  }
}

.footer-social-list-item {
  margin-right: 2%;
}

@media (max-width: 425px) {
  .footer-social-list-item {
    margin-right: 1%;
  }
}

@media (max-width: 425px) {
  .footer-social-list-item:last-child {
    margin-right: 0;
  }
}

.social-button:hover svg,
.social-button:hover path,
.social-button:focus svg,
.social-button:focus path {
  fill: #ffffff;

  outline: none;
}

.social-button:active svg,
.social-button:active path {
  fill: #86e5c9;
}

.footer-copyright p {
  margin: 0;

  font-size: 1.1em;
  color: #3a494c;
}
