.greeting {
  width: 100%;

  text-align: center;

  box-sizing: border-box;

  a {
    position: absolute;
    bottom: 64px;
    left: calc((100% - 52px) / 2);

    cursor: pointer;

    svg {
      transform: rotate(180deg);
    }
  }
}

.greeting h3 {
  margin: 0;

  font-size: 3em;
  font-weight: 300;
  color: $color1;

  text-shadow: 2px 5px 15px black;
}

.greeting p {
  margin: 0;
  padding-top: 0.5em;

  font-size: 1.1em;
  line-height: 1.8em;
  color: $color1;
}
